<component name="libraryTable">
  <library name="spring-jdbc-4.1.4.RELEASE">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lbl/spring-jdbc-4.1.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lbl/spring-tx-4.1.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lbl/spring-core-4.1.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lbl/spring-beans-4.1.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lbl/commons-logging-1.2.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>